<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Voter SignUp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../public/css/style.css">
	</head>

    <body>
        
        <div class="container">
            <h1 class="brand"><span>Online </span> Voting System</h1>
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Vote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user/mainpage?Token=<%=Token%>">Instructions </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/displayCandidates?Token=<%=Token%>">Candidates</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile?Token=<%=Token%>">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Sign out</a>
                    </li>
                </ul>
                </div>
            </nav>

            <form id="login"method="POST"action="/user/userAction?Token=<%=Token%>">
                <table class="table table-striped vote-table">
                    <tr>
                        <th>Canndidate Id</th>
                        <th>Candidate Name</th>
                        <th>Candidate Position</th>
                        <th>Party Name</th>
                        <th>Party Symbol</th>
                        <th>Vote for</th>
                    </tr>
                    <% data.forEach(function(candidate){ %>
                        <tr>
                            <td><label for="<%= candidate[0] %>"><%= candidate[0] %></label></td>
                            <td><label for="<%= candidate[0] %>"><%= candidate[1] %></label></td>
                            <td><label for="<%= candidate[0] %>"><%= candidate[2] %></label></td>
                            <td><label for="<%= candidate[0] %>"><%= candidate[3] %></label></td>
                            <td>
                                <div>
                                    <label for="<%= candidate[0] %>">
                                        <img id="party-symbol"height="46px"width="50px"src="../public/partysymbol/<%= candidate[3] %>.png">
                                    </label>
                                </div>
                            </td>
                            <td
                                ><center>
                                    <input id="<%= candidate[0] %>" name="candidateId" onchange="cancelConfirm()"value="<%= candidate[4] %>"type="radio"required/>
                                </center>
                            </td>
                        </tr>
                    <% }); %>
                    <tr>
                        <td><label for="NOTA">0000</label></td>
                        <td><label for="NOTA">NOTA</label></td>
                        <td><label for="NOTA">NOTA</label></td>
                        <td><label for="NOTA">NOTA</label></td>
                        <td>
                            <div>
                                <label for="NOTA">
                                    <img id="party-symbol"height="46px"width="50px"value='<%data[0][4]%>'src="../public/partysymbol/NOTA.png">
                                </label>
                            </div>
                        </td>
                        <td
                            ><center>
                                <input id="NOTA" name="candidateId" onchange="cancelConfirm()"value="0"type="radio"required/>
                            </center>
                        </td>
                    </tr>
                </table>
                <div class="full">
                    <button type="button" onclick="confirm()">Submit</button>
                </div>
                <div class="full">
                    <button id="submit"type="submit">Sure to Submit</button>
                </div>
            </form>
        </div>
    </body>    
    <script>
        document.getElementById("submit").style.display="none"
        function confirm(){
            document.getElementById("submit").style.display="inline"
        }
        function cancelConfirm(){
            document.getElementById("submit").style.display="none"
        }
    </script>
</html>